---
---

.hero {
padding: 5em 0;
position: relative;
z-index: 0;
background: none;
height: 240px;
width: 100%;
}

.backstretch {
left: 0px;
top: 0px;
margin: 0px;
padding: 0px;
z-index: -999998;
position: absolute;
height: 100%;
width: 100%;
overflow: hidden;
}

.backstretch img {
position: absolute;
margin: -15% 0 0 0;
padding: 0px;
border: none;
width: 100%;
min-height: 529px;
z-index: -999999;
}