.backstretch {
left: 0px;
top: 0px;
overflow: hidden;
margin: 0px;
padding: 0px;
height: 480px;
width: 100%;
z-index: -999998;
position: absolute;
}

.backstretch img {
position: absolute;
margin: 0px;
padding: 0px;
border: none;
width: 100%;
max-height: 630px;
z-index: -999999;
left: 0px;
top: -77.5758426966292px;
}