---
---

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.blog-menu{
	float: left;
	text-align: -webkit-left;
}

.blog-menu img{
	height: 3em;
	width: 3em;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.blog-menu:hover ul{
	display: block;

	-moz-animation: fadeIn .3s ease-in  ;
	-webkit-animation: fadeIn .3s ease-in ;
	animation:fadeIn .3s ease-in ;
}

.blog-menu ul{
	background-color: #FFF;
	display: none;
	list-style-type: none;
	margin: 0px;
	max-height: 300px;
	overflow: auto;

	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.blog-menu li{
	padding: 10px;
	width: 250px;
	border-bottom: 1px solid #EEE;
}

.blog-menu li:last-child{
	border-bottom: none;
}

.blog-menu a{
	font-weight: bold;
}

.blog-menu p{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.blog-preview{
	height: 500px;
}

.blog-preview-item{
	display: none;
	margin-left: 50px;
	height: 500px;
}

.blog-preview-item header{

}

.blog-preview-item span{

}

.blog-preview-item img{

}

.blog-preview-item p{

}

.blog-wrapper {

}

.blog-wrapper header{

}

.blog-wrapper .date{

}

.blog-wrapper .description{

}

.blog-post {

}

.blog-post header{

}


.blog-post img{

}

.blog-post p{

}
