---
---

@keyframes fadeBackSmall {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.9);
  }
}

.fadeBackSmall {
  -webkit-animation-name: fadeBackSmall;
  animation-name: fadeBackSmall;
}

@-webkit-keyframes fadeInSmall {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInSmall {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInSmall {
  -webkit-animation-name: fadeInSmall;
  animation-name: fadeInSmall;
}


.blog-preview{
	height: 450px;
	margin: 0px 50px;
	z-index: 1;
}

.blog-preview-item{
	display: none;
	background: #FFFFFF;

	margin: 0px -50px;
	padding: 0px 50px;
	height: 100%;

	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);

	-moz-animation: fadeInSmall 1s ease-in  ;
	-webkit-animation: fadeInSmall 1s ease-in ;
	animation:fadeInSmall 1s ease-in ;
	z-index: 1;
}

.blog-preview-item header{
	font-size: 2em;
	font-weight: bold;
	padding: 0.7em 0 0.7em 0;
}

.blog-preview-item span{
	color: #5B7778;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 1.5em;
	display: block;
}

.blog-preview-item img{
	height: 200px;
	float: right;
	margin: 10px;
}

.blog-preview-item p{
	font-size: 1.17em;
	text-align: -webkit-auto;
}

.blog-preview-item a{
	font-size: 1.17em;
	margin-top: 1em;
	display: block;
}