---
---

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeBackSmall {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.9);
  }
}

.mini-menu{
	float: left;
	text-align: -webkit-left;
	position: absolute;
	z-index: 10;
}

.mini-menu img{
	height: 3em;
	width: 3em;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.mini-menu:hover ul{
	display: block;

	-moz-animation: fadeIn .3s ease-in  ;
	-webkit-animation: fadeIn .3s ease-in ;
	animation:fadeIn .3s ease-in ;
}

.mini-menu ul{
	position: absolute;
	background-color: #FFF;
	display: none;
	list-style-type: none;
	margin: 0px;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;	

	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.mini-menu li{
	padding: 10px;
	padding-right: 20px;
	width: 250px;
	border-bottom: 1px solid #EEE;
}

.mini-menu li:hover{
	background-color: #93A8A9;
}

.mini-menu li:last-child{
	border-bottom: none;
}

.mini-menu a{
	font-weight: bold;
}

.mini-menu p{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}
