---
title: Priyanka Deo
layout: default
---

<!-- ==============Initialize a section=========== -->
{% assign id = 'projects' %}
{% assign title = 'Projects' %}
{% assign description = 'Things that I am working on' %}

{% capture content %}
<div class="container project-wrapper">
{% for project in site.projects %}
	{{ project.output }}
{% endfor %}
</div>
{% endcapture %}

<!-- ================Create a section============= -->
{% include section.html id=id title=title description=description content=content %}

<!-- ==============Initialize a section=========== -->
{% assign id = 'gallery' %}
{% assign title = 'Gallery' %}
{% assign description = 'Pictures of robots' %}
{% assign content = '<p> Woof Woof. </p>' %}

<!-- ================Create a section============= -->
{% include section.html id=id title=title description=description content=content %}
