<div class="mini-menu">
<img src="{{ site.url }}/images/menu_icon.png" />
<ul>
{% for post in site.posts %}
	<li onclick="setPost({{ forloop.index }})">
		<a>{{ post.title }}</a>
		<p>{{ post.description | truncatewords: 15}}</p>
	</li>
{% endfor %}
</ul>
</div>

<div class="blog-preview">
{% for post in site.posts %}
	<div class="blog-preview-item" id="blog{{ forloop.index }}">
		<header>{{ post.title }}</header>
		<span>{{ post.date | date_to_string }}</span> <br/>
		<img src="{{ site.url }}/images/{{ post.main-image }}" />
		{{ post.excerpt | truncatewords: 70}}</p>

		<a href="{{ site.url }}{{ post.url }}">Read More >></a>
	</div>
{% endfor %}
</div>

<script>
var current_post = 1;
function setPost(index) {
	current_blog = document.getElementById('blog' + current_post);
	current_blog.setAttribute('style', 'display: none;');

	next_blog = document.getElementById('blog' + index);
	next_blog.setAttribute('style', 'display: block;');

	current_post = index;
}
setPost(1);
</script>

