<!-- =====================Header=================== -->
<header class="nav">
	<div class="container">
		<a class="n-logo" href="http://www.priyadeo.com">
			<img src="images/robot_logo.png" alt="muffin-logo">
		</a>
		<ul class="n-menu">
			<li><a href="#flav">Flavours</a></li>
			<li><a href="#feat">Features</a></li>
			<li><a href="#inst">Install</a></li>
			<li><a href="#vid">Videos</a></li>
		</ul>
	</div>
</header>

<main>
<!-- ====================Main Image================ -->
	<div class="hero">
		<div class="backstretch">
			<img src="images/robots_bg.jpg" />
		</div>
	</div>

<!-- =================Main Image Border============ -->
	<div class="frap-plug"> </div>
</main>