<!-- =====================Header=================== -->
<header class="nav">
	<div class="container">
		<a class="n-logo" href="http://www.priyadeo.com">
			<img src="http://{{ site.url }}/images/robot_logo.png" alt="muffin-logo">
		</a>
		<ul class="n-menu">
			<li><a href="http://{{ site.url }}/#projects">Projects</a></li>
			<li><a href="http://{{ site.url }}/#blog">Blog</a></li>
			<li><a href="http://{{ site.url }}/#about">About Me</a></li>
			<li><a href="http://{{ site.url }}/#gallery">Gallery</a></li>
		</ul>
	</div>
</header>
