{% if include.dark %}
<div class="section-content dark" id={{ include.id }}>
{% else %}
<div class="section-content" id={{ include.id }}>
{% endif %}
	<div class="container">
		<header class="head-text">{{ include.title }}</header>
		<span class="sub-text">{{ include.description }}</span>
		<div class="n-logo m-line">
			<img src="https://{{ site.url }}/images/robot_logo.png" alt="muffin-logo">
			<hr>
		</div>

		<div class="container page-data">
			{{ include.content }}
		</div>
	</div>
</div>
