<!DOCTYPE html>
<html>
<!-- Insert your metadata here. -->
<head>
	<meta charset="utf-8">
	<title>{{ site.name }}</title>
	<link rel="stylesheet" href="{{ site.url }}/css/style.css">
	<link rel="stylesheet" href="{{ site.url }}/css/backstretch.css">
	<link rel="stylesheet" href="{{ site.url }}/css/mini-menu.css">
	<link rel="stylesheet" href="{{ site.url }}/css/project-box.css">
	<link rel="stylesheet" href="{{ site.url }}/css/blog.css">
	<link rel="stylesheet" href="{{ site.url }}/css/gallery.css">
	<link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">
</head>

<body>
{% include header.html %}

<main>

{% include main_image.html %}

{{ content }}

</main>

{% include footer.html %}

</body>

</html>
